
.hero_section{
    align-items: center;
    gap: 2rem;
    max-width: 90vw;
    height: 90vh;
    margin-inline: auto;
    position: relative;
    justify-content: center;
}

.hero_section .heading{
    max-width: 60%;
    margin: 0 auto;
    margin-top: 100px !important;
}
.hero_section h1{
    background-color: white;
    background: linear-gradient(135deg, #ffffffb6, rgb(69, 230, 241),#ff9100 ,#ff9100,#ff9100);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 20px #eee6c43b;
    font-size: clamp(.5rem, 5vw + 1rem, 3.2rem);
    font-size: clamp(120vw);
}
.hero_section p{
    max-width: 25rem;
    line-height: 1.4;
    padding-block:2rem ;
    font-size: 1.3rem;
}
.hero_section .btn{
    border-radius: .5rem;
    display: inline-flex;
    background: linear-gradient(135deg, var(--text-cyan), orange, orange);
}
.hero_section .btn span{
    font-size: 1rem;
    color: var(--text-color);
    background: #000000;
    padding:.8rem 2rem;
    color: white;
    font-weight: bold;
    margin: 1px;
    border-radius: inherit;
    display: inline-block;
    transition: .4s all ease-in-out;
}
.hero_section .btn span:hover{
    background: none;
    color: #000000;
    cursor: pointer;
    margin: 1px;
}

.hero_section .orbitImages{
    position: absolute;
    object-fit: cover;
}

.hero_section .creampie-text {
    width: 100%;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }


@media only screen and (max-width: 425px) {

    .hero_section h1{
        font-size: 2rem;
    }

    .hero_section .heading{
        max-width: 100%;
        margin-left: 0rem;
    }
    .hero_section p{
        font-size: 1rem;
    }
}