.roadmap_section{
    max-width: 90vw;
    margin-inline: auto;
    text-align: center;
    position: relative;
    margin-block: 4rem ;
}
.roadmap_section h1{
    font-size: clamp(1.5rem,3vw + 1rem, 3.2rem);
    text-align: center;
    background: linear-gradient(125deg, white , white, #bc19b9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.roadmap_section .timeline{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid lightblue;
    min-height: 10rem;
    text-align: left;
    background: #1616169c;
    position: relative;
    max-width: 20rem;
    padding: .8rem;
    padding-left:35px; 
    color: rgb(236, 232, 228);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: .825rem;
    border: 1px solid rgba(187, 0, 78, 0.986);
    transition: .5s all ease-in-out;
}

.roadmap_section .timeline:hover {
    background: linear-gradient(45deg, rgb(180, 76, 171), rgb(182, 143, 188) 90%);
    color: black;
    backface-visibility: hidden;
    cursor: pointer;
}
.roadmap_section .timeline h2{
    font-size: clamp(.5rem , 4vw + 1rem , 1rem);
}

.roadmap_section .timeline p{
    font-size: clamp(.5rem , 4vw + 1rem , .9rem);
    font-weight: 400;
    padding-block: .6rem;
}

.roadmap_section .timeline .textContent p{
    margin-left: 20px;
}
.roadmap_section .timeline .numberOuter{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border: 5px solid #970270;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: inline-flex;
    background: #f095ea;
    color: black;
    font-weight: 900;
}

.roadmap_section .timeline .numberinner{
    border: 5px solid #f32d97;
    height: 2.4rem;
    width:  2.4rem;
    border-radius: 100%;
    display: inline-flex;
    margin: auto;
    text-align: center;
    display: grid;
    place-items: center;
    
}


@media (width <= 375px) {

    .roadmap_section{
        margin-right:10px;
    }
}